body{
    background-color: aquamarine;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
li{
    
    padding-right: 50px;
    border-radius: 10PX;
    margin-right: 35PX;
    background-color: azure;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

a{
    display: flex;
    text-align: center;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.ul{
    font-size: 100px;
}
p{
    
    border: solid, 1px, black;
    margin: 20px;
    color: rgb(24, 12, 129);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imag{
    padding-left: 250px;
    width: 800px;
    height: 500px;
}

table{
    border-style: solid;
}
tr{
    border-style: solid;
}
th{
    border-style: solid;
    text-align: left;
}

.mapa{
    display: flex;
    justify-content: center;
 }
 
 .google{
     padding-top: 30px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }